:root {
	--black-transparent: rgba(0, 0, 0, 0.600);
	--blue-background: #4e4e7d;

	/*  Sizing  */
	--sizing-small: 1.281rem;
	--sizing-medium: 2.563rem;
	--sizing-big: 5.125rem;
	--sizing-bigger: 8rem;
	--sizing-mega: 10.25rem;
	--sizing-huge: 20rem;

	--percent-tiny: 17%;
	--percent-small: 20%;
	--percent-medium: 23%;


	/*    TYPOGRAFY    */
	--font-family: 'Inter Light BETA';

	/*  Desktop  */
	--font-tiny-desktop: 1.25rem;
	--font-small-desktop: 1.563rem;
	--font-medium-desktop: 2.188rem;
	--font-big-desktop: 3.125rem;

	/*  Mobile  */
	--font-tiny-mobile: 0.75rem;
	--font-small-mobile: 0.938rem;
	--font-medium-mobile: 1.563rem;
	--font-big-mobile: 1.875rem;

	/*  Letter spazing  */
	--letter-spazing-small: 0.08rem;
	--letter-spazing-medium: 0.6rem;
}